body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.list {
    padding:10px;
    
}

.list > h1 {
    padding-left:40px;
}

.list > ul {
    columns: 1;
    -webkit-columns: 1;
    -moz-columns: 1;
    column-gap: 20px;
    -moz-column-gap: 20px;
    -webkit-column-gap: 20px;
    width:100%;
}


@media screen and (min-width: 1024px) {
    .list > ul {
        columns: 2;
	-webkit-columns: 2;
	-moz-columns: 2;

	column-gap: 20px;
	-moz-column-gap: 20px;
	-webkit-column-gap: 20px;
	width:800px;
    }
}

@media screen and (min-width: 1400px) {
    .list > ul {
        columns: 4;
	-webkit-columns: 4;
	-moz-columns: 4;

	column-width: 200px;
	-webkit-column-width: 200px;
	-moz-column-width: 200px;
	
	column-gap: 20px;
	-moz-column-gap: 20px;
	-webkit-column-gap: 20px;

	display: inline-block;
	width:1400px;
    }
}


img.useravatar {
    border-radius: 50%;
    object-fit: scale-down;
    height:32px;
    widht:auto;
    margin-right:20px;
}

li.user {
    list-style-type:none;
    font-size:16px;
    padding-top:10px;
    padding-bottom:10px;
    display: flex;
    flex-direction: row;
    align-items:center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

span.username, a.username {
    color: #222222;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

span.usercompany {
    color: #999999;
    flex:1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
